{% extends 'base.html'%}
{% block content %}

<div class = "titlebar">
  <!-- Page Title -->
  <h2>{{title}}</h2>
  <!-- Total -->
  <h2>Total: £{{(total[0]|string)[:-2]}}.{{(total[0]|string)[-2:]}}</h2>
  <!-- Month Nav -->
</div>

<div class = "content">
  <div class = "side"></div>
  <div class = "table">
    <table class = "transactions">
      <thead>
        <tr class = "titlerow">
        <form action="/categories/{{category.id}}/sort" method = "post">
          <th class = "col" ><button type="submit" name="button" value = "transaction_date">Date</button></th>
          <th class = "col" ><button type="submit" name="button" value = "merchant_id">Merchant</button></th>
          <th class = "col" ><button type="submit" name="button" value = "category_id">Category</button></th>
          <th class = "col" ><button type="submit" name="button" value = "amount">Amount</button></th>
          <th class = "col" ></th>
        </form>
      </tr>
    </thead>
      <tbody>
        <!-- Set variable outside of for loop for cumulative total -->
        {% for transaction in transactions %}
        <tr class = "transaction row">
          <th class="col" id="one">{{transaction.date_format()}}</th>
          <th class="col" id="two"><a href="/merchants/{{transaction.merchant.id}}">{{transaction.merchant.name}}</a></th>
          <th class="col" id="three">{{transaction.category.name}}</th>
          <th class="col" id="four">{{transaction.currency_format()}}</th>
          <th class="col" id="five"></th>
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
  <div class = "side"></div>
</div>

{% endblock %}