{% extends 'base.html'%}
{% block content %}


<h1>Hello</h1>
<!-- New Transaction form in details -->
<button>Add Transaction</button>
<table>
<tr>
  <th>Date</th>
  <th>Merchant</th>
  <th>Category</th>
  <th>Amount</th>
  <th>Edit Functions</th>
</tr>
<tr>
<!-- content differs here -->


<!-- content differs here -->
{% for transaction in all_transactions %}
<tr class = "transaction row">
  <td>{{transaction.date_format()}}</td>
  <td>{{transaction.merchant.name}}</td>
  <td>{{transaction.category.name}}</t>
  <td>{{transaction.currency_format()}}</td>
  <td><a href="">Edit</a> <a href="">Delete</a></td>
</tr>
<br>
{% endfor %}
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td>Total</td>
</tr>
</table>

<h1>
  Hello
</h1>



{% endblock %}