{% extends 'base.html'%}
{% block content %}

<header>
  <div class ="company_logo">
      <h1>Company Name</h1>
      <p>logo</p>
  </div>
  <ul class = "links">
      <li><a href="/transactions">Transactions</a></li>
      <li><a href="/budget">Budget</a></li>
      <li><a href="/merchants">Merchants</a></li>
      <li><a href="/categories">Categories</a></li>
  </ul>
</header>








<h1>Hello</h1>
<!-- New Transaction form in details -->
<button>Add Transaction</button>
<table>
    <tr>
      <th>Date</th>
  <th>Merchant</th>
  <th>Category</th>
  <th>Amount</th>
  <th>Edit Functions</th>
</tr>
</form>
<tr>
<!-- content differs here -->


<!-- content differs here -->
{% for transaction in all_transactions %}
<tr class = "transaction row">
  <td>{{transaction.date_format()}}</td>
  <td>{{transaction.merchant.name}}</td>
  <td>{{transaction.category.name}}</t>
  <td>{{transaction.amount}}</td>
  <td><a href="">Edit</a> <a href="">Delete</a></td>
</tr>
<br>
{% endfor %}
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td>Total</td>
</tr>
</table>

<h1>
  Hello
</h1>



{% endblock %}