<table class = "transactions">
  <tr>
    <th class = "col1">
      <button><a href="/transactions/new">Add Transaction</a></button>
    </th>
    <th class = "col2"></th>
    <th class = "col3"></th>
    <th class = "col4"></th>
    <th class = "col5"></th>
  </tr>
  
  <tr class = "transaction_title_row">
      <!-- <form action="/transactions/sort" method = "post">       Removed the sort functionality for when a transaction is being added/edited         -->
        <th class = "col1"><button type="submit" name="button" value = "transaction_date">Date</button></th>
        <th class = "col2"><button type="submit" name="button" value = "merchant_id">Merchant</button></th>
        <th class = "col3"><button type="submit" name="button" value = "category_id">Category</button></th>
        <th class = "col4"><button type="submit" name="button" value = "amount">Amount</button></th>
        <th class = "col5">Edit Functions</th>
      <!-- </form> -->
  </tr>
<!-- Section of table above ID -->

{% set show_transaction = namespace(Tag=0) %}

{% for above_transaction in all_transactions %}
  {% if show_transaction.Tag == 0 %}
    {% if (above_transaction.id|int) != (transaction.id|int) %}
      <tr class = "transaction row">
        <td>{{above_transaction.date_format()}}</td>
        <td>{{above_transaction.merchant.name}}</td>
        <td>{{above_transaction.Tag}}</td>
        <td>{{above_transaction.currency_format()}}</td>
        <td><a href="/transactions/{{above_transaction.id}}/edit">Edit</a> <a href="/transactions/{{above_transaction.id}}/delete">Delete</a></td>
      </tr>
    {% else %}
      {% set show_transaction.Tag = 1 %}  
    {% endif %}
  {% endif %}    
{% endfor %}


<!-- form for ID-->
<tr class ="transaction row">
  <form action="/transactions/{{transaction.id}}" method="post">
    <!-- date picker -->
    <th><input type="date" id="date" name="date" value="{{transaction.date}}"></th>
    <!-- merchant picker -->
    <th>
      <input type="text" id= "merchant" name = "merchant" list="merchants" value = "{{transaction.merchant.name}}" />
      <datalist id = "merchants">
        {% for merchant in all_merchants %}
          <option value = "{{merchant.name}}"> 
        {% endfor %}
      </datalist>
    </th>
    <!-- category picker -->
    <th>
      <input type="text" id= "category" name = "category" list="categories" value = "{{transaction.category.name}}"  />
      <datalist id = "categories">
        {% for category in all_categories %}
          <option value = "{{category.name}}"> 
        {% endfor %}
      </datalist>
    </th>
    <!-- Amount picker -->
    <th>
      <span>£</span>
      <input type="number" name="amount_pound" class = "pounds" min = "00" max = "99999" value = "{{((transaction.amount|string)[:-2]|int)}}">
      <span>.</span>
      <input type="number" name="amount_pence" class = "pence" min = "00" max = "99" step = "01" value = "{{((transaction.amount|string)[-2:]|int)}}">
    </th>
    <!-- Confirmation/Submit -->
    <th>
      <button><a href="/transactions">Cancel</a></button>
      <button type="submit">Confirm Edit</button>
    </th>
  </form>
</tr>
<!-- end form for ID-->

  <!-- Section of table below ID -->
{% set show_transaction = namespace(Tag=0) %}
  {% for below_transaction in all_transactions %}
    {% if (below_transaction.id|int) != (transaction.id|int) and show_transaction.Tag == 1 %}
        <tr class = "transaction row">
          <td>{{below_transaction.date_format()}}</td>
          <td>{{below_transaction.merchant.name}}</td>
          <td>{{below_transaction.Tag}}</td>
          <td>{{below_transaction.currency_format()}}</td>
          <td><a href="/transactions/{{below_transaction.id}}/edit">Edit</a> <a href="/transactions/{{below_transaction.id}}/delete">Delete</a></td>
        </tr>
    {% elif (below_transaction.id|int) == (transaction.id|int) %}
      {% set show_transaction.Tag = 1 %}          
    {% else %}
    {% endif %}
  {% endfor %}
<tr class = "transaction row">
  <td></td>
  <td></td>
  <td></td>
  <td>Total</td>
</tr>
</table>