{% extends 'base.html'%}
{% block content %}

<div>
<h1>Session Data</h1>

<p>session date:{{date}}</p>
<p>session date:{{date1}}</p>

<form action="transactions/csv" method="post" enctype="multipart/form-data">
  <input type="file" name= "upload_file">
  
  <button type="submit">submit</button>
</form>


<a href="transactions/nextmonth">Next Month</a>
<a href="transactions/previousmonth">Previous Month</a>
<a href="transactions/currentmonth">Current Month</a>

<form action="transactions/month" method = "post">
  <label for="date">Pick Budget</label>
  <input type="month" name="date">
  <button type="submit">submit</button>
</form>

</div>




<table class = "transactions">
  <tr>
    <th class = "col1">
      <button><a href="transactions/new">Add Transaction</a></button>
    </th>
    <th class = "col2"></th>
    <th class = "col3"></th>
    <th class = "col4"></th>
    <th class = "col5"></th>
  </tr>


  <tr class = "transaction_title_row">
    <form action="/transactions/sort" method = "post">
      <th><button type="submit" name="button" value = "transaction_date">Date</button></th>
      <th><button type="submit" name="button" value = "merchant_id">Merchant</button></th>
      <th><button type="submit" name="button" value = "category_id">Category</button></th>
      <th><button type="submit" name="button" value = "amount">Amount</button></th>
      <th>Edit Functions</th>
    </form>
  </tr>

{% for transaction in all_transactions %}
  <tr class = "transaction row">
    <td>{{transaction.date_format()}}</td>
    <td>{{transaction.merchant.name}}</td>
    <td>{{transaction.category.name}}</t>
    <td>{{transaction.currency_format()}} {{transaction.id}}</td>
    <td><a href="/transactions/{{transaction.id}}/edit">Edit</a> <a href="/transactions/{{transaction.id}}/delete">Delete</a></td>
  </tr>
{% endfor %}
  <tr class = "transaction_row">
    <td></td>
    <td></td>
    <td></td>
    <td>Total: </td>
  </tr>
</table>


{% endblock %}