{% extends 'base.html'%}
{% block content %}


<h1>New Transaction</h1>
<button><a href="transactions/new">Add Transaction</a></button>
<table>
<tr>
  <th>Date</th>
  <th>Merchant</th>
  <th>Category</th>
  <th>Amount</th>
  <th>Edit Functions</th>
</tr>
<tr>
<!-- content differs here -->
<tr>
  <form action="/transactions/new" method="post">
    <!-- date picker -->
    <th><input type="date" id="date" name="date" required autofocus></th>
    <!-- merchant picker -->
    <th>
      <input type="text" id= "merchant" name = "merchant" list="merchants" />
      <datalist id = "merchants">
        {% for merchant in all_merchants %}
          <option value = "{{merchant.name}}"> 
        {% endfor %}
      </datalist>
    </th>
    <!-- category picker -->
    <th>
      <input type="text" id= "category" name = "category" list="categories" />
      <datalist id = "categories">
        {% for category in all_categories %}
          <option value = "{{category.name}}"> 
        {% endfor %}
      </datalist>
    </th>
    <!-- Amount picker -->
    <th>
      <span>£</span>
      <input type="number" name="amount_pound" class = "pounds" min = "00" max = "99999">
      <span>.</span>
      <input type="number" name="amount_pence" class = "pence" min = "00" max = "99">
    </th>
    <!-- Confirmation/Submit -->
    <th>
      <button><a href="/transactions">Cancel</a></button>
      <button type="submit">Add Transaction</button>
    </th>
  </form>
</tr>
<!-- content differs here -->
<div class = "hidden entries">
  {% for transaction in all_transactions %}
  <tr class = "transaction row">
    <td>{{transaction.date_format()}}</td>
    <td>{{transaction.merchant.name}}</td>
    <td>{{transaction.category.name}}</t>
    <td>{{transaction.currency_format()}}</td>
  <td><a href="">Edit</a> <a href="">Delete</a></td>
</tr>
<br>
{% endfor %}
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td>Total</td>
</tr>
</table>
</div>

<h1>
  Hello
</h1>



{% endblock %}